body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font-family: "Times New Roman";
}
/* diseño encabezado header */
header {
  width: 100%;
  height: auto;
  /* background: antiquewhite;
              color: #fff; */
}
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
}
.logo-img {
  width: 150px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  font-family: Arial;
  margin-top: 0;
  padding: 0;
}

ul li {
  height: 100%;
  line-height: 50px;
  background: white;
  opacity: 0.75;
  margin: 0px 1px;
}

ul li a {
  padding: 0px 10px;
  display: block;
}

ul li a:hover {
  background: bisque;
  color: brown;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.5s ease, font-weight 0.5s ease;
  transition-duration: 1s;
}

ul li ul {
  display: inline-block;
}

a {
  display: inline;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: black;
}

ul li ul li {
  display: none;
}
/* diseno contenido */
.contenido {
  position: absolute;
  width: 100%;
  height: auto;
}

/* contenido inicio */
.contenido-inicio {
  width: 100%;
  height: 500px;
}

.imagen-contenido {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  object-position: bottom;
}

/* contenido cuerpo */
.contenido-cuerpo {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* background-color: #f3f1e7; */
}
.texto-Normal {
  width: 95%;
  font-size: 2.5vh;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #333;
  text-align: center;
}
/* contenido bienvenida */
.contenido-bienvenida {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

  background: #ffffff;
}
/* contenido final */
.contenido-final {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333;
  color: white;
}
.horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.derechos-reservados {
  text-align: center;
  color: #ffffff; /* Color del texto, puede ser un tono oscuro que contraste bien con el fondo */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 20px; /* Espacio superior para separarlo del contenido principal */
}

.subTexto {
  font-size: 3.5vh;
}
.inicio-btn {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.inicio-btn:hover {
  background-color: #45a049;
}

.formulario-reserva {
  width: 30%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.titulo-reserva {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.formulario-reserva {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

.contenedor-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 35px;
}

.contenedor-form:hover .formulario-reserva {
  opacity: 1;
  visibility: visible;
}

/* efecto si hay contenido  */
.con-contenido {
  background-color: rgba(
    173,
    216,
    230,
    0.5
  ); /* Azul claro con 50% de opacidad */
}

/* inputs */

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  border: 1px solid transparent;
  border-width: 0 0 2px 0;
  /* border-radius: 5px; */
  box-sizing: border-box;
  font-size: 16px;
  transition-duration: 0.5s;
}
/* efecto hover */
input[type="text"]:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  border: 1px solid transparent;
  border-width: 0 0 2px 0;
  /* border-radius: 5px; */
  box-sizing: border-box;
  font-size: 16px;
  transition-duration: 0.5s;
}
textarea:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
select:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
input[type="email"]:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
input[type="number"]:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
input[type="date"]:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}
input[type="time"]:hover {
  border-color: #f5cbec;
  transform: scale(1.03);
  transition-duration: 1s;
}

button {
  background-color: #f8b2d9;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f5cbec;
}
form {
  height: auto;
}


/* de otra pagina en recervas admin  */
.formulario-reserva-admin{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
button {
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}
button:hover {
  background-color: #45a049;
}
button.cancel {
  background-color: #f44336;
}
button.cancel:hover {
  background-color: #da190b;
}

.search-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-container form {
  width: 90%;
  display:flex ;
  justify-content: center;
}
.buscador{
  width: 100px;
}